
<div class="container-800">
<h1>{{ title }}</h1>
    <br>
<p>Hello {{ user.profile.first_name }} ! Welcome to your dashboard. </p>
    <p>Here you can create new evaluations, follow current process and check on previous evaluations.</p>
<br>
    <form action="../new_evaluation_1">
<div align="right"><button href="../new_evaluation_1">+ NEW</button></div>
    </form>
<article class="container-survey">

    <div class="row-heading">
        <div class="col-md-2">DATE</div>
        <div class="col-md-5">CAMPAIGN</div>
        <div class="col-md-3">STATUS</div>
        <div class="col-md-2"><div align="center">ACTION</div></div>
    </div>
    {{#if items}}
    {{# each items }}
    <div class="row">
        <input type="hidden" id="deadline{{@index}}" value="{{this.deadline}}">
        <div class="col-md-2">{{this.creation_date}}</div>
        <div class="col-md-5">{{ this.campaign }}</div>
        <div class="col-md-3"><input type="text" id="status{{@index}}" value="{{ this.status }}" readonly></div>
        <div class="col-md-2">
            <div align="center">
                <!--<a class="action-icons"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>&nbsp &nbsp-->
                <!--<a class="action-icons"><i class="fa fa-trash-o fa-lg" id='delete' aria-hidden="true"></i></a>&nbsp &nbsp-->
                <a class="action-icons" style="display: none" id="report_button{{@index}}" href="/report?evaluation_id={{this._id}}"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
        <script>

            // HIDE REPORT BUTTON UNTIL AFTER DEADLINE
            var deadline = $("#deadline{{@index}}").val();
            console.log(deadline);
            var deadline2 = +new Date(deadline);
            console.log("Deadline : " + deadline2);
            var maintenant = +new Date();
            console.log("Maintenant: "+ maintenant);
            if( deadline2 < maintenant ){
                document.getElementById("report_button{{@index}}").style = "";
                document.getElementById("status{{@index}}").value = "Completed";
            }

        </script>

    {{/each}}
    {{else}}
        <br>
        <div align="center">No previous evaluations to show. Create a new one.</div>
        <br>
        <br>
    {{/if}}

</article>

</div>
