
<script src="/js/moment.js"></script>

<div class="container-800">
<h1>{{ title }}</h1>
    <br>
<p>Hello {{ user.profile.first_name }} ! Welcome to your dashboard. </p>
    <p>Here you can create new evaluations, follow current process and check on previous evaluations.</p>
<br>
    <form action="../new_evaluation_1">
<div align="right"><button href="../new_evaluation_1">+ NEW</button></div>
    </form>

<article class="container-survey">
    <div class="row-heading">
        <div class="col-md-2">DATE</div>
        <div class="col-md-4">CAMPAIGN</div>
        <div class="col-md-2">DEADLINE</div>
        <div class="col-md-2">STATUS</div>
        <div class="col-md-2"><div align="center">ACTION</div></div>
    </div>
    {{#if items}}
    {{# each items }}
    <div class="row">
        <!--<input type="hidden" id="deadline{{@index}}" value="{{this.deadline}}">-->
        <div class="col-md-2">{{this.creation_date}}</div>
        <div class="col-md-4">{{ this.campaign }}</div>
        <div class="col-md-2"><input type="text" id="deadline{{@index}}" value="{{ this.deadline }}" readonly></div>
        <div class="col-md-2"><input type="text" id="status{{@index}}" value="{{ this.status }}" readonly></div>
        <div class="col-md-2">
            <div align="center">
                <!--<a class="action-icons"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>&nbsp &nbsp-->
                <!--<a class="action-icons"><i class="fa fa-trash-o fa-lg" id='delete' aria-hidden="true"></i></a>&nbsp &nbsp-->
                <a class="action-icons" style="display: none" id="report_button{{@index}}" href="/report?evaluation_id={{this._id}}"><i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
        <script>



            // HIDE REPORT BUTTON UNTIL AFTER DEADLINE
            if( document.getElementById("status{{@index}}").value == "Completed" ){

                document.getElementById("report_button{{@index}}").style = "";
            }
            // MAKE DEADLINE DATE FORMAT SHORTER
            var x = document.getElementById("deadline{{@index}}").value;
            var y = moment(x).format('DD/MM/YY HH:mm');
            console.log(y);
            document.getElementById("deadline{{@index}}").value = y;
            //document.getElementById("deadline{{@index}}").value = x.slice(0,21);

        </script>

    {{/each}}
    {{else}}
        <br>
        <div align="center">No previous evaluations to show. Create a new one.</div>
        <br>
        <br>
    {{/if}}

</article>

</div>
