<script type="text/javascript" src="/jquery/jqmeter.min.js"></script>
<script type="text/javascript" src="/js/progressbar.js"></script>
<script src="/js/blob-stream.js"></script>
<script src="/js/pdfkit.js"></script>
<script src="/js/pdfkit.js.map"></script>
<script src="/js/download.js"></script>
<script src="/js/base64pics.js"></script>

<script>

// create a PDF document and pipe to a blob
var doc = new PDFDocument({
    margins : {
        top: 20,
        bottom: 20,
        left: 20,
        right: 20
    },
    info: {
        Title: 'Report',
        Author: 'YIES - Insightful talent evaluation', // the name of the author
        Subject: '', // the subject of the document
        Keywords: '', // keywords associated with the document
        CreationDate: 'DD/MM/YYYY' // the date the document was created (added automatically by PDFKit)
}
});


var xTitle = 20;
var xInfo = 20;
var xCompetences = 150;
var xStrength = 10;
var xWeaknesses = 10;
var xFooter = 0;
var xEvaluers = 10;

var yTitle = 20;
var yInfo = 60;
var yCompetences = 150;
var yStrength = 150;
var yWeaknesses = 515;
var yFooter = 760;
var yEvaluers = 80;

var stream = doc.pipe(blobStream());

//**---------------------------------------RULERS----------------------------**
// ** TOP RULER 0 to 520 **
//Text for test
    /*
doc.fontSize(10)
        .fillColor('grey')
        .text('0', 0, 0);

//Text for test
doc.fontSize(10)
        .fillColor('grey')
        .text('20', 20, 0);

//Text for test
doc.fontSize(10)
        .fillColor('grey')
        .text('100', 100, 0);

//Text for test
doc.fontSize(10)
        .fillColor('grey')
        .text('200', 200, 0);

//Text for test
doc.fontSize(10)
        .fillColor('grey')
        .text('300', 300, 0);

//Text for test
doc.fontSize(10)
        .fillColor('grey')
        .text('400', 400, 0);

//Text for test
doc.fontSize(10)
        .fillColor('grey')
        .text('500', 500, 0);

//Text for test
doc.fontSize(10)
        .fillColor('grey')
        .text('|', 510, 0, {align: "right"});
*/
// ** LEFT RULER 0 to 520 **
//Text for test
/*
doc.fontSize(10)
        .fillColor('grey')
        .text('20', 0, 20);
doc.fontSize(10)
        .fillColor('grey')
        .text('50', 0, 50);
doc.fontSize(10)
        .fillColor('grey')
        .text('100', 0, 100);

doc.fontSize(10)
        .fillColor('grey')
        .text('150', 0, 150);
doc.fontSize(10)
        .fillColor('grey')
        .text('200', 0, 200);
doc.fontSize(10)
        .fillColor('grey')
        .text('250', 0, 250);
doc.fontSize(10)
        .fillColor('grey')
        .text('300', 0, 300);
doc.fontSize(10)
        .fillColor('grey')
        .text('350', 0, 350);
doc.fontSize(10)
        .fillColor('grey')
        .text('400', 0, 400);
doc.fontSize(10)
        .fillColor('grey')
        .text('450', 0, 450);
doc.fontSize(10)
        .fillColor('grey')
        .text('500', 0, 500);

doc.fontSize(10)
        .fillColor('grey')
        .text('550', 0, 550);
doc.fontSize(10)
        .fillColor('grey')
        .text('600', 0, 600);
doc.fontSize(10)
        .fillColor('grey')
        .text('650', 0, 650);
doc.fontSize(10)
        .fillColor('grey')
        .text('700', 0, 700);
doc.fontSize(10)
        .fillColor('grey')
        .text('750', 0, 750);
*/
//**---------------------------------------RULERS----------------------------**

</script>

<div class="container-800">

    <h1>{{ title }} {{#each info}} - {{[6]}}</h1>

<script>


//YIES logo
doc.image(yiesLogo, 15, yTitle,  {height: 20});

// Title report
doc.fontSize(25)
        .fillColor('grey')
        .text('Report - {{[6]}}', 125, yTitle+1);

</script>

    <div class="row">

        <div class="col-md-2">
            <img src="/img/Profile_avatar2.png" style="width:110px; height:110px;">
        </div>

        <div class="col-md-7">
            <p>Name: {{[1]}} {{[2]}}</p>
            <p>Position: {{[3]}}</p>
            <p>Department: {{[5]}}</p>
            <p>Company: {{[4]}}</p>
        </div>

<script>

doc.image(profilePic, 50, yInfo);

doc.fontSize(10)
        .text('Name', xCompetences+40, yInfo+3);
doc.fontSize(10)
        .text('Position', xCompetences+40, yInfo+23);
doc.fontSize(10)
        .text('Department', xCompetences+40, yInfo+43);
doc.fontSize(10)
        .text('Company', xCompetences+40, yInfo+63);

doc.fontSize(12)
        .text('{{[1]}} {{[2]}}', xCompetences+150, yInfo+3);
doc.fontSize(12)
        .text('{{[3]}}', xCompetences+150, yInfo+23);
doc.fontSize(12)
        .text('{{[5]}}', xCompetences+150, yInfo+43);
doc.fontSize(12)
        .text('{{[4]}}', xCompetences+150, yInfo+63);

doc.fontSize(10)
        .text('Report date', xCompetences+325, yInfo+63);
doc.fontSize(12)
        .text('{{[7]}}', xCompetences+395, yInfo+63);

</script>
        <div class="col-md-3" align="right">
            <a class='action-icons' id="export-button"><i class="fa fa-file-pdf-o"></i>Export to PDF</a>
        </div>
    </div>



{{/each}}
    </br>


<script>

// Strength box
doc.lineJoin('round')
        .rect(xStrength, yStrength, 160, 355)
        .lineWidth(0.1)
        .strokeColor("silver")
        .stroke();

//Strength title
doc.fontSize(11)
        .fillColor('grey')
        .text('STRENGTHS', xStrength+10, yStrength+10);

</script>

    <article class="container-survey">

        <div class="row-heading">
            <div class="col-md-4">STRENGTH</div>
            <div class="col-md-8"></div>

        </div>
        <div class="row">
    {{#each strong}}
            <div class="col-md-4">
                <div class="container-circle" id="container{{@index}}"></div>
                <div class="row"><div align="center">{{[0]}}</div></div>

            </div>
<script>
        var bar = new ProgressBar.Circle(container{{@index}}, {
        //color: '#3cb878',
        // This has to be the same size as the maximum width to
        // prevent clipping
        strokeWidth: 7,
        trailWidth: 1,
        easing: 'easeInOut',
        duration: 3000,
        text: {
        autoStyleContainer: false
        },
        from: { color: '#aaa', width: 1 },
        to: { color: '##3cb878', width: 7 },
        // Set default step function for all animate calls
        step: function(state, circle) {
        circle.path.setAttribute('stroke', state.color);
        circle.path.setAttribute('stroke-width', state.width);

        var value = (circle.value() * 10).toFixed(1);
        if (value === 0) {
        circle.setText('');
        } else {
        circle.setText(value);
        }

        }
        });
        //bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar.text.style.fontSize = '3rem';

        bar.animate(({{[1]}})/100);

</script>

<script>

//** STRENGTH **//

//Green circle for each Strength
doc.circle(xStrength+80, yStrength+70+{{@index}}*110, 0.4*{{[1]}})
        .lineWidth(7)
        .strokeColor("#3cb878")
        .stroke();

//Score for each Strength Circle
doc.fontSize(20)
        .fillColor('grey')
        .text('{{[2]}}', xStrength+67, yStrength+63+{{@index}}*110);

//Text for each Strength
doc.fontSize(9.7)
        .fillColor('grey')
        .text('{{[0]}}', xStrength+79-{{[0].length}}*2.3, yStrength+113+{{@index}}*110);


</script>

    {{/each}}

        </div>

    </article>

<script>

    // Weakness box
    doc.lineJoin('round')
            .rect(xWeaknesses, yWeaknesses, 160, 210)
            .lineWidth(0.1)
            .strokeColor('silver')
            .stroke();

    //Weakness title 1/2
    doc.fontSize(11)
            .fillColor('grey')
            .text('AREAS FOR', xWeaknesses+10, yWeaknesses+10);
    //Weakness title 2/2
    doc.fontSize(11)
            .fillColor('grey')
            .text('IMPROVEMENTS', xWeaknesses+10, yWeaknesses+25);

</script>

        </br>
    <article class="container-survey">

        <div class="row-heading">
            <div class="col-md-4">AREAS FOR IMPROVEMENTS</div>
            <div class="col-md-8"></div>
        </div>
        {{#each weak}}
        <div class="row">
            <div class="col-md-4">{{[0]}}</div>
            <div class="col-md-6"><div id="weak{{@index}}"></div></div>
            <div class="col-md-2"><div align="center">{{[2]}}</div></div>
        </div>

        <script>
            $('#weak{{@index}}').jQMeter({
                goal: '100',
                raised: '{{[1]}}',
                width: "350px",
                height: "12px",
                bgColor: "#d7d7d7",
                barColor: "#f800a9",
                meterOrientation: "horizontal",
                animationSpeed: 3000,
                counterSpeed: 3000,
                displayTotal: false
            });

        </script>


<script>

    //** BARS FOR WEAKNESS **//

    //Text for each competence
    doc.fontSize(9.7)
            .fillColor('grey')
            .text('{{[0]}}', xWeaknesses+20, yWeaknesses+60+{{@index}}*45);

    //Grey bg bar
    doc.lineCap('round')
            .moveTo(xWeaknesses+20, yWeaknesses+80+{{@index}}*45)
            .lineTo(xWeaknesses+120, yWeaknesses+80+{{@index}}*45)
            .lineWidth(7)
            .fillAndStroke("#d7d7d7")
            .stroke();

    //Pink bar for weakness level
    doc.lineCap('round')
            .moveTo(xWeaknesses+20, yWeaknesses+80+{{@index}}*45)
            .lineTo(xWeaknesses+20+{{[1]}}, yWeaknesses+80+{{@index}}*45)
            .lineWidth(7)
            .fillAndStroke("#f800a9")
            .stroke();

    //Text for average score
    doc.fontSize(9.7)
            .fillColor('grey')
            .text('{{[2]}}', xWeaknesses+129, yWeaknesses+76+{{@index}}*45);


</script>



        {{/each}}

    </article>

<script>

    var yComp = 540 / {{items.length}};

// All competences box
    doc.lineJoin('round')
            .moveTo(xCompetences+30, yCompetences)
            .lineTo(600, yCompetences)
            .lineTo(600, yCompetences+35+{{items.length}}*yComp)
            .lineTo(xCompetences+30, yCompetences+35+{{items.length}}*yComp)
            .lineTo(xCompetences+30,yCompetences)
            .lineWidth(0.1)
            .strokeColor('silver')
            .stroke();

    //All competences titles
    doc.fontSize(11)
            .fillColor('grey')
            .text('COMPETENCE', xCompetences+40, yCompetences+10);
    doc.fontSize(11)
            .fillColor('grey')
            .text('LEVEL', xCompetences+205, yCompetences+10);
    doc.fontSize(11)
            .fillColor('grey')
            .text('SCORE', xCompetences+330, yCompetences+10);
    doc.fontSize(11)
            .fillColor('grey')
            .text('#RATINGS', xCompetences+388, yCompetences+10);



</script>

        </br>
    <article class="container-survey">

        <div class="row-heading">
            <div class="col-md-4">COMPETENCE</div>
            <div class="col-md-4">LEVEL</div>
            <div class="col-md-2"><div align="center">SCORE</div> </div>
            <div class="col-md-2"><div align="center">#RATINGS</div></div>
        </div>
    {{#each items}}
        <div class="row">
            <div class="col-md-4">{{[0]}}</div>
            <div class="col-md-4"><div id="meter{{@index}}"></div></div>
            <div class="col-md-2"><div align="center">{{[2]}}</div></div>
            <div class="col-md-2"><div align="center">{{[3]}}</div></div>
        </div>

        <script>
            $('#meter{{@index}}').jQMeter({
                goal: '100',
                raised: '{{[1]}}'
            });

        </script>

    <script>

    //** ALL COMPETENCES **//

    //Text for each competence
    doc.fontSize(10)
            .fillColor('grey')
            .text('{{[0]}}', xCompetences+40, yCompetences+40+{{@index}}*yComp);

    //Grey bar
    doc.lineCap('round')
            .moveTo(xCompetences+205, yCompetences+44+{{@index}}*yComp)
            .lineTo(xCompetences+305, yCompetences+44+{{@index}}*yComp)
            .lineWidth(7)
            .fillAndStroke("#d7d7d7")
            .stroke();

    //Green bar
    doc.lineCap('round')
            .moveTo(xCompetences+205, yCompetences+44+{{@index}}*yComp)
            .lineTo(xCompetences+205+{{[1]}}, yCompetences+44+{{@index}}*yComp)
            .lineWidth(7)
            .fillAndStroke("#3cb878")
            .stroke();

    //Text for average score
    doc.fontSize(10)
            .fillColor('grey')
            .text('{{[2]}}', xCompetences+343, yCompetences+40+{{@index}}*yComp);

    //Text for #ratings
    doc.fontSize(10)
            .fillColor('grey')
            .text('{{[3]}}', xCompetences+415, yCompetences+40+{{@index}}*yComp);

    </script>

{{/each}}

    <script>

    doc.fontSize(10)
            .fillColor('blue')
            .text('WWW.YIES.CO', xFooter, yFooter, {align : 'center'})
            .link(300, yFooter, 40, 20, 'http://www.yies.co/');


    doc.fontSize(10)
            .fillColor('grey')
            .text('1 / 3', 570, yFooter);

    </script>

    </article>

        <script>
        doc.addPage();

        //YIES logo
        doc.image(yiesLogo, 15, yTitle,  {height: 20});

        // Title report
        doc.fontSize(25)
        .fillColor('grey')
        .text('List of all evaluers', 125, yTitle+1);


        // ALL EVALUERS BOX

        var yEval = 20;

        // All evaluers box
        doc.lineJoin('round')
                .moveTo(xEvaluers, yEvaluers)
                .lineTo(600, yEvaluers)
                .lineTo(600, yEvaluers+35+{{evaluers.length}}*yEval)
                .lineTo(xEvaluers, yEvaluers+35+{{evaluers.length}}*yEval)
                .lineTo(xEvaluers,yEvaluers)
                .lineWidth(0.1)
                .strokeColor('silver')
                .stroke();

        //All evaluers titles
        doc.fontSize(11)
                .fillColor('grey')
                .text('EVALUERS NAME', xEvaluers+20, yEvaluers+10);
        doc.fontSize(11)
                .fillColor('grey')
                .text('JOB TITLE', xEvaluers+220, yEvaluers+10);
        doc.fontSize(11)
                .fillColor('grey')
                .text('COMPANY', xEvaluers+420, yEvaluers+10);

    </script>



        </br>
        <article class="container-survey">

            <div class="row-heading">
                <div class="col-md-4">EVALUER'S NAME</div>
                <div class="col-md-4">JOB TITLE</div>
                <div class="col-md-4">COMPANY</div>
            </div>

{{#each evaluers}}

                <div class="row">
                    <div class="col-md-4">{{first_name}} {{last_name}}</div>
                    <div class="col-md-4">{{job_title}}</div>
                    <div class="col-md-4">{{company}}</div>
                </div>

        <script>

            //** ALL EVALUERS **//

            //Name of each Evaluer
            doc.fontSize(10)
                    .fillColor('grey')
                    .text('{{first_name}} {{last_name}}', xEvaluers+20, yEvaluers+40+{{@index}}*yEval);

            //Text for Job Title
            doc.fontSize(10)
                    .fillColor('grey')
                    .text('{{job_title}}', xEvaluers+220, yEvaluers+40+{{@index}}*yEval);

            //Text for Company
            doc.fontSize(10)
                    .fillColor('grey')
                    .text('{{company}}', xEvaluers+420, yEvaluers+40+{{@index}}*yEval);

        </script>

{{/each}}

        </article>

        <script>
        doc.fontSize(10)
                .fillColor('blue')
                .text('WWW.YIES.CO', xFooter, yFooter, {align : 'center'})
                .link(300, yFooter, 40, 20, 'http://www.yies.co/');


        doc.fontSize(10)
                .fillColor('grey')
                .text('2 / 3', 570, yFooter);

        </script>

        <script>
            doc.addPage();

            //YIES logo
            doc.image(yiesLogo, 15, yTitle,  {height: 20});

            // Title report
            doc.fontSize(25)
                    .fillColor('grey')
                    .text('All comments', 125, yTitle+1);


            // ALL COMMENTS BOX

            var yEval = 20;

            // All comment box
            doc.lineJoin('round')
                    .moveTo(xEvaluers, yEvaluers)
                    .lineTo(600, yEvaluers)
                    .lineTo(600, yEvaluers+35+{{comments.length}}*yEval)
                    .lineTo(xEvaluers, yEvaluers+35+{{comments.length}}*yEval)
                    .lineTo(xEvaluers,yEvaluers)
                    .lineWidth(0.1)
                    .strokeColor('silver')
                    .stroke();

            //All comments title
            doc.fontSize(11)
                    .fillColor('grey')
                    .text('COMMENTS', xEvaluers+20, yEvaluers+10);

        </script>



        </br>
        <article class="container-survey">

            <div class="row-heading">
                <div class="col-md-4">COMMENTS</div>
            </div>

{{#each comments}}

                <div class="row">
                    <div class="col-md-12">"{{this}}"</div>
                </div>

                <script>

                    //** ALL COMMENTS **//

                    //Text of each comment
                    doc.fontSize(10)
                            .fillColor('grey')
                            .text('"{{this}}"', xEvaluers+20, yEvaluers+40+{{@index}}*yEval);


                </script>

{{/each}}

        </article>




</div>

<script>


    doc.fontSize(10)
            .fillColor('blue')
            .text('WWW.YIES.CO', xFooter, yFooter, {align : 'center'})
            .link(300, yFooter, 40, 20, 'http://www.yies.co/');


    doc.fontSize(10)
            .fillColor('grey')
            .text('3 / 3', 570, yFooter);

    doc.end();

    stream.on('finish', function(){
        blob = stream.toBlob('application/pdf')
    });

    $(document).ready(function () {
        $('body').on('click', '#export-button', function () {
            console.log("Try to print");
            printPDF();

        });
    });

{{#each info}}

    function printPDF() {
        download( blob, "YIES report - {{[1]}} {{[2]}} - {{[7]}}", "pdf");
    }

{{/each}}


</script>

